# Environment & Secrets
.env

# Virtual Environment
.venv/
env/
venv/

# Python Cache
__pycache__/
*.pyc
.pytest_cache/

# Streamlit Local Configs
.streamlit/secrets.toml

# IDE & Tool
pyrightconfig.json
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db
